<!doctype html>
<html ng-app="cmcSilkApp" class="no-js" >
	<head>
		<title>
			CMC Silk Note
		</title>

		<meta charset='utf-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<base href="/">

		<link href="/css/jquery-ui-1.10.1.css" rel="stylesheet" media="screen,print">
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen,print">
		<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
		<link href="/css/bootstrap-datepicker.css" rel="stylesheet" media="screen,print">
		<link href="/css/font-awesome.min.css" rel="stylesheet" media="screen,print">
		<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
		<link href="/css/jquery.easy-pie-chart.css" rel="stylesheet" media="screen,print">
		<link href="/css/slider.css" rel="stylesheet" media="screen,print">
		<link href="/css/restricted.css" rel="stylesheet" media="screen,print">
		<link href="/css/user-defined.css" rel="stylesheet" media="screen,print">


	</head>

	<body>

		<div ng-view>
		</div>

		<script src="/js/lib/jQuery/jquery-1.9.1.min.js"></script>
		<script src="/js/lib/twitter-bootstrap/bootstrap.min.js"></script>
	    <script src="/js/lib/jQuery/jcarousellite_1.0.1.min.js"></script>
		<script src="/js/lib/jQuery/jquery-ui-1.10.1.js"></script>
		<script src="/js/lib/jQuery/jquery.easy-pie-chart.js"></script>
    	<script src="/js/lib/twitter-bootstrap/bootstrap-slider.js"></script>
		<script src="/js/lib/angular/angular.min.js"></script>
		<script src="/js/lib/angular/angular-sanitize.min.js"></script>
		<script src="/js/lib/angularUIBootstrap/ui-bootstrap-custom-tpls-0.4.1.js"></script>
		<script src="/js/lib/twitter-bootstrap/bootstrap-datepicker.js"></script>
		<script src="/js/lib/angularUIBootstrap/datepicker.js"></script>
		<script src="/js/lib/angularUIBootstrap/modal.js"></script>
		<script src="/js/lib/mdn-cookies/docCookies.js"></script>
		<script src="/js/app.js"></script>
		<script src="/js/controllers/cmcSilkNotes.js"></script>
		<script src="/js/filters.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/lib/jquery-file-upload/jquery.ui.widget.js"></script>
		<script src="/js/lib/jquery-file-upload/jquery.fileupload.js"></script>


	</body>
</html>
